extends layout
block title
  title Bong99 | Bank
block main
  .container
    .bank-page.page
      h3.title Ngân hàng
      .line
      p Mibet sử dụng tài khoản ngân hàng trung gian, đảm bảo tính hợp pháp của dòng tiền 100%. Rút nạp cực nhanh 2 phút, thủ tục đơn giản 1 bước. Chúng tôi có tài khoản ngân hàng riêng tư cho khách có nhu cầu.
      h3.title Các ngân hàng hỗ trợ
      .line
      ul.bank-list
        li
          img(style="width:150px")(src='images/vietcombank.png' width=''
          height='41'
          alt='bong99')
        li
          img(src='images/donga.png' width='' height='55' alt='bong99')
        li
          img(src='images/acb.png' width='' height='53' alt='bong99')
        li
          img(style="width:160px")(src='images/vietinbank.png' width=''
          height='36'
          alt='bong99')
        li
          img(style="width: 190px;top: 15px;")(src='images/sacombank.png'
          width='' height='24'
          alt='bong99')
        li
          img(src='images/techcombank.png' width='' height='62' alt='bong99')
        li
          img(style="width: 190px;top:6px")(src='images/nganluong.png'
          width=''
          height=''
          alt='bong99')
